# Python bytecode
__pycache__/
*.py[cod]

# Virtual environment folder
venv/
env/

# Django stuff:
*.log
*.pot
*.pyc
*.swp
*~
*.sqlite3

db.sqlite3

# Ignore local settings or secrets
.env
.env.*

# macOS files
.DS_Store

# Windows files
Thumbs.db

# VSCode workspace settings 
.vscode/


# If you're using pytest
.pytest_cache/
