# Core dependencies
Django>=4.2
djangorestframework>=3.14
djangorestframework-simplejwt>=5.3

# Development tools (optional)
django-extensions>=3.2  # Extra management commands
python-dotenv>=1.0  # For managing environment variables

# Testing (optional)
pytest>=8.0
pytest-django>=4.5
